* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
button {
    width: 100%;
    margin: auto auto;
    border-radius: 10px;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #ccc;
}
.relogio {
    padding: 10px;
    margin: auto;
    background-color: #ccc;
    font-size: 2em;
    border-radius: 10px;
    width: min-content;
    box-shadow: 1px 2px 16px black;
}
.relogio:hover {
    padding: 12px;
    margin: auto;
    background-color: #ccc;
    font-size: 2em;
    border-radius: 10px;
    width: min-content;
    box-shadow: 1px 2px 16px black;
}